<div class="resource-description">
  <%= I18n.t("admin.#{admin.model.table_name}.resource_description", default: "No description found for key admin.#{admin.model.table_name}.resource_description") %>
</div>
